.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

.entries-container {
  padding: 3em;
}

.entry, p{
  text-align: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 0.5em;
}

.entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entry-title {
  font-size: 2em;
  padding-top: 2em;
}

.entry-content {
  padding: 1em 3em 1em 3em;
}

.entry-link {
  font-size: 1.5em;
}

.entry-date {
  font-style: italic;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
